<div class="container" style="text-align: center" id="early_intervention">
    {%- if site.data.sitetext[page.locale].early_intervention.title -%}
    <div class="intervention">
        <p class="intervention-title">{{ site.data.sitetext[page.locale].early_intervention.title }}</p>
        <span class="cite">{{ site.data.sitetext[page.locale].early_intervention.source }}</span>
        {%- endif -%}
    </div>
    <img width="100%" class="intervention-image" src="assets/img/kid_scale_{{ page.locale }}.png"/>
</div>
