<div id="technology" style="margin-bottom: 16rem">
    <div class="container">
        <h1 style="margin-bottom: 4rem">Tehnologie</h1>
        <div class="tech-container">
            <div class="tech-image-container">
                <div class="puzzle">
                    <span class="puzzle-text red-text">Detecție atuomată a tulburărilor din spectru și vizualizarea progresului</span>
                    <img class="puzzle-image" src="assets/img/technology/Subtract.png">
                </div>
                <div class="puzzle">
                    <span class="puzzle-text blue-text">Plan personalizat de intervenție</span>
                    <img class="puzzle-image" src="assets/img/technology/intervention.png">
                </div>
                <div class="puzzle">
                    <span class="puzzle-text yellow-text">Acces la analiști comportamentali și terapeuți</span>
                    <img class="puzzle-image" src="assets/img/technology/specialists.png">
                </div>
            </div>
            <div style="width: 70%">
                <img width="100%" src="assets/img/technology/phones.png">
            </div>
        </div>
    </div>
</div>