.intervention {
  background-color: #ff6c74;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  .intervention-title {
    font-weight: 500;
    font-size: 2.2rem;
  }

  .cite {
    cursor: pointer;
     z-index: 1;
      color: black;
    &:hover, &:active {
        text-decoration: none;
      }
  }
}

@media (min-width: 768px) {
  .intervention {
    background-color: #ff6c74;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    .intervention-title {
      font-weight: 500;
      font-size: 2.8rem;
    }

    .cite {
      align-self: end;
      margin-right: 5rem;
      z-index: 1;
      color: black;
        cursor: pointer;
      &:hover, &:active {
        text-decoration: none;
      }
    }
  }
  .intervention-image {
    margin-top: -4rem;
    margin-bottom: -16rem;
  }
}